{{- /* 自定义Favicon配置 */ -}}
<link rel="icon" type="image/svg+xml" href="{{ "favicon.svg" | absURL }}">
<link rel="alternate icon" href="{{ "favicon.svg" | absURL }}">
<link rel="apple-touch-icon" href="{{ "favicon.svg" | absURL }}">

{{- /* 百度统计 - 请替换为你的真实统计ID */ -}}
{{- if eq .Site.Params.env "production" -}}
<!-- 百度统计代码 -->
<script>
// 注册百度统计后，将此处的 'YOUR_BAIDU_TONGJI_ID' 替换为你的统计ID
// var _hmt = _hmt || [];
// (function() {
//   var hm = document.createElement("script");
//   hm.src = "https://hm.baidu.com/hm.js?YOUR_BAIDU_TONGJI_ID";
//   var s = document.getElementsByTagName("script")[0];
//   s.parentNode.insertBefore(hm, s);
// })();
</script>
{{- end -}}
