{{- /* 自定义Favicon配置 */ -}}
<link rel="icon" type="image/svg+xml" href="{{ "favicon.svg" | absURL }}">
<link rel="alternate icon" href="{{ "favicon.svg" | absURL }}">
<link rel="apple-touch-icon" href="{{ "favicon.svg" | absURL }}">

{{- /* 百度统计 */ -}}
{{- if eq .Site.Params.env "production" -}}
<!-- 百度统计代码 -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?9c83172ff40dec9d67085e4bcc0bb7b0";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
{{- end -}}
